@charset "utf-8";
@media screen and (max-width:1200px) {
    .gird-1140, .gr-tg-top-02, .gr-tg-top-08, .gr-tg-top-10 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .gr-tg-t11-slider {
        padding-left: 0;
    }
}

/* end 1200 */

@media screen and (max-width:1100px) {
    .gr-tg-top-02 {
        padding-left: 0;
        padding-right: 0;
    }
    .gr-tg-top-08 .gird-1000 {
        padding-right: 28px;
        padding-left: 0;
    }
    .gird-1000, .gird-1044 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .gr-tg-top-ul01 li:not(:first-child) {
        padding-left: 3.364vw;
        margin-left: 3.364vw;
    }
    .gr-tg-top-09 ul .item, .gr-tg-top-10 .gr-tg-desc10 li {
        height: 24.909vw;
    }
}

/* end 1200 */

@media screen and (max-width:1000px) {
    .gr-tg-sub-title {
        font-size: 3vw;
    }
    .gr-tg-pl30 {
        padding-left: 0;
    }
    .gr-tg-mefo01 h3 br {
        display: none;
    }
    .gr-tg-t11-slider .item {
        height: 230px;
    }
}

/* end 1000 */

@media screen and (max-width:975px) {
    .gr-tg-left-fix {
        width: 18.667vw;
        height: 10.667vw;
    }
    .gr-tg-top-head {
        z-index: 1004;
    }
    .gr-tg-menuclick {
        z-index: 10009;
    }
    .gr-tg-t06row .owl-dots {
        text-align: center;
        margin-top: 10.267vw;
    }
    .gr-tg-t06row .owl-dots button {
        width: 20px;
        height: 20px;
        border: 3px solid #003385;
        border-radius: 100%;
    }
    .gr-tg-t06row .owl-dots button.active {
        background-color: #003385;
    }
    .gr-tg-menuclick {
        top: 10.667vw;
    }
    .gr-tg-menuclick.active {
        left: 0;
    }
    .gr-tg-t11-slider .owl-nav, .gr-tg-top-06 .gr-tg-title, .gr-tg-top-06 .gr-tg-btn10 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .gr-tg-t06row {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }
    .gr-tg-t11-slider .item {
        height: 271px;
    }
    .gr-tg-top-11>div, .gr-tg-top-06>div {
        padding-left: 0;
        padding-right: 0;
    }
    .gr-tg-top-01 {
        flex-direction: column-reverse;
    }
    .gr-tg-top-head>div {
        padding: 0;
    }
    .gr-tg-logo {
        width: 100%;
        text-align: right;
        padding-right: 30px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
    }
    .item-gr-tg-top-01 {
        width: 100% !important;
    }
    .gr-tg-top-ul01 {
        padding: 23px 30px 20px 30px;
        justify-content: center;
    }
    .gr-tg-top-ul01 li {
        width: 33.33%;
        justify-content: center;
    }
    .gr-tg-top-ul01 li:not(:first-child) {
        padding-left: 0;
        margin-left: 0;
    }
    .gr-tg-humbarger {
        background-color: #C1272D;
    }
    /* --------- */
    .item_body:first-child {
        background-color: inherit;
    }
    .gr-tg-left-fix>ul {
        display: none;
    }
    .gr-tg-menuclick {
        left: -100%;
    }
    .wrap_body {
        flex-wrap: wrap;
    }
    .item_body:last-child, .gr-tg-top-head {
        width: 100%;
    }
    .gr-tg-top-ul01 {
        padding-left: 4vw;
        padding-right: 4vw;
    }
    span.gr-tg-icon {
        line-height: 100%;
        margin-top: -1px;
    }
    .gr-tg-top-ul01 li {
        height: 4.933vw;
    }
    .gr-tg-humbarger {
        width: 18.667vw;
        margin-bottom: 0;
        height: 10.667vw;
    }
    .gr-tg-humbarger a {
        line-height: 100%;
    }
    .gr-tg-logo {
        padding-right: 4vw;
    }
    .gr-tg-logo-wh {
        width: 43.067vw;
        height: 10.667vw;
    }
    .item-01 {
        height: auto;
    }
    #owl01 .owl-item.active.center, #owl01 .owl-item.active.center .slick-list, #owl01 .owl-item.active.center .slick-list .slick-track, #owl01 .owl-item.active.center .slick-list .slick-track .item-01 {
        max-width: 540px !important;
    }
    #owl01 .owl-item.center .item-01 {
        height: 540px !important;
    }
    .gr-tg-gen-cr .gr-tg-flex {
        background-image: url(../img/icon-45.png);
        background-position: center;
        background-repeat: no-repeat;
        height: 20vw;
        padding-top: 2.667vw;
        padding-bottom: 2.667vw;
        flex-direction: column;
    }
    .item-gr-tggen-cr {
        width: 100%;
        text-align: center;
        font-size: 2.667vw;
        letter-spacing: 0;
    }
    .gr-tg-co-fo02 .gr-tg-flex, .gr-tg-co-fo01>div {
        flex-direction: column;
    }
    .gr-tg-co-fo01, .gr-tg-co-fo02 {
        max-width: 690px;
        margin: 0 auto;
    }
    .gr-tg-sub-mefo01 {
        display: none;
    }
    .gr-tg-co-fo02 .boxs, .item-gr-tg-co-fo01 {
        width: 100%;
    }
    .item-gr-tg-co-fo01:last-child {
        margin-top: 88px;
    }
    .gr-tg-content-fo>div, .gr-tg-co-fo02>div {
        padding-left: 0;
        padding-right: 0;
    }
    .gr-tg-co-fo01 {
        padding-right: 4vw;
        padding-left: 4vw;
    }
    .gr-tg-btn {
        display: none;
    }
    .gr-tg-maps {
        max-width: 100%;
        height: 54.667vw;
    }
    .gr-tg-content-fo {
        padding-bottom: 19.200vw;
    }
    .gr-tg-icon-wh11 {
        width: 254px;
        height: 48px;
    }
    .gr-tg-maps-blank {
        max-width: 450px;
        height: 100px;
        bottom: calc(-100px / 2);
    }
    .item-gr-tg-co-fo01 h2 {
        max-width: 100%;
        font-size: 3.067vw;
        padding: 5.200vw 0 4.800vw 0;
    }
    .gr-tg-mefo01 a {
        font-size: 3.200vw;
    }
    .gr-tg-icon-wh07 {
        width: 17.067vw;
        height: 15.733vw;
    }
    .gr-tg-pl30 {
        padding-left: 0;
    }
    .gr-tg-mefo01 h3 {
        margin-top: 25px;
        height: 120px;
        border: 1px solid #C1272D;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }
    .gr-tg-mefo01 h3 br {
        display: none;
    }
    .gr-tg-co-fo02 .boxs:last-child {
        margin-top: 95px;
    }
    #owl01 .owl-item {
        margin: 0;
    }
    .gr-tg-top-01 .owl-nav {
        top: 293px;
        bottom: inherit;
    }
    .hide-pc {
        display: block;
    }
    .gr-tg-mefo01.hide-pc h3 a {
        font-size: 32px;
    }
    .gr-tg-mefo01.hide-pc h3 a:hover {
        opacity: 0.8;
    }
    .gr-tg-mefo01.hide-pc h3:first-child a {
        padding-right: 44px;
        background-image: url(../img/icon-14.png);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 27px;
    }
}

/* end 975 */

@media screen and (max-width:900px) {
    .gr-tg-subt08-3 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .gr-tg-notice {
        padding: 0;
        background-color: inherit;
    }
    .gr-tg-notice li {
        flex-wrap: wrap;
    }
    .gr-tg-notice li .item:first-child {
        text-align: left;
    }
    .gr-tg-notice li .item:nth-child(2) {
        order: 1;
        width: 100%;
        border-left: 0px;
        padding-left: 0;
    }
    .gr-tg-tab-gen ul li:not(:first-child) {
        margin-left: 25px;
    }
    .gr-tg-info p {
        font-size: 28px;
    }
}

@media screen and (max-width:750px) {
    .gr-tg-me02, .gr-tg-me02 a:not(:first-child), .gr-tg-me03 {
        margin-top: 2.400vw;
    }
    .gr-tg-t11-slider .owl-dots {
        bottom: 0;
    }
    .gr-tg-item-me03:not(:first-child) {
        margin-left: 2.400vw;
    }
    .inner-content-div {
        padding-right: 2.667vw;
    }
    .gr-tg-menuclick h2 {
        font-size: 4vw;
    }
    .gr-tg-me01 {
        margin-top: 2.133vw;
    }
    .gr-tg-menuclick {
        padding-top: 5.333vw;
        padding-left: 4vw;
        padding-right: 1.333vw;
    }
    .gr-tg-menuclick {
        max-width: 600px;
    }
    .w-icon-me-01 {
        width: 19.733vw;
        height: 13.867vw;
    }
    .w-icon-me-02 {
        width: 14.133vw;
        height: 13.867vw;
    }
    .w-icon-me-03 {
        width: 17.467vw;
        height: 13.867vw;
    }
    .w-icon-me-04 {
        width: 12.133vw;
        height: 16.667vw;
    }
    .w-icon-me-05 {
        width: 21.600vw;
        height: 16.667vw;
    }
    .w-icon-me-06 {
        width: 10.933vw;
        height: 13.733vw;
    }
    .w-icon-me-07 {
        width: 13.067vw;
        height: 13.867vw;
    }
    .w-icon-me-08 {
        width: 7.067vw;
        height: 13.867vw;
    }
    .w-icon-me-09 {
        width: 13.333vw;
        height: 13.867vw;
    }
    .w-icon-me-10 {
        width: 18.133vw;
        height: 13.867vw;
    }
    .w-icon-me-11 {
        width: 11.200vw;
        height: 13.733vw;
    }
    .w-icon-me-12 {
        height: 11.200vw;
        height: 13.867vw;
    }
    .w-icon-me-13 {
        width: 9.733vw;
        height: 13.867vw;
    }
    .gr-tg-a01, .gr-tg-item-me01 ul li a {
        height: 34.667vw;
    }
    .gr-tg-item-me01 {
        width: 100% !important;
    }
    .gr-tg-a01 {
        margin-bottom: 0;
    }
    .gr-tg-item-me01:nth-child(2n) {
        margin-left: 0;
    }
    .gr-tg-a01 span:last-child {
        font-size: 3.733vw;
        margin-top: 3.733vw;
    }
    .gr-tg-item-me01 ul li a span:last-child {
        font-size: 3.733vw;
        margin-top: 3.733vw;
    }
    .gr-tg-item-me01 ul li:nth-child(1), .gr-tg-item-me01 ul li:nth-child(2) {
        margin-bottom: 2.400vw;
    }
    .gr-tg-top-06 h2 img {
        width: 14.267vw;
        height: 14.800vw;
    }
    .gr-tg-item-me01 {
        margin-top: 2.400vw;
    }
    .gr-tg-me02>a, .gr-tg-item-me03 a {
        height: 17.333vw;
        padding-left: 5.333vw;
        padding-right: 4vw;
        border-radius: 2.133vw;
        background-image: url(../img/icon-59.svg);
        background-position: right 4vw center;
        background-size: 2.667vw;
        -webkit-border-radius: 2.133vw;
        -moz-border-radius: 2.133vw;
        -ms-border-radius: 2.133vw;
        -o-border-radius: 2.133vw;
    }
    .gr-tg-item-me03>a>span {
        display: none;
    }
    .gr-tg-item-me01 ul li {
        width: calc(50% - 1.200vw);
        max-width: 100%;
    }
    .gr-tg-item-me03 a {
        height: 12.4vw;
        font-size: 3.200vw !important;
    }
    .gr-tg-me02>a, .gr-tg-item-me03 a {
        font-size: 3.733vw;
    }
    .gr-tg-top-06 .gr-tg-sub-title {
        margin-top: 5.600vw;
    }
    .gr-tg-item-me03:last-child a {
        height: 17.02vw;
        font-size: 0 !important;
        border-radius: 2.133vw;
        background-image: url(../img/icon-me-14.svg), url(../img/icon-59.svg);
        background-position: left 10.667vw center, right 4vw center;
        background-size: 8.533vw, 2.667vw;
        -webkit-border-radius: 2.133vw;
        -moz-border-radius: 2.133vw;
        -ms-border-radius: 2.133vw;
        -o-border-radius: 2.133vw;
    }
    .gr-tg-item-me03:last-child a:nth-child(2) {
        background-image: url(../img/icon-me-16.svg), url(../img/icon-59.svg);
    }
    .gr-tg-item-me03:last-child a:nth-child(3) {
        background-image: url(../img/icon-me-15.svg), url(../img/icon-59.svg);
    }
    .gr-tg-t11-slider .owl-carousel {
        padding-bottom: 9.333vw;
    }
    .gr-tg-t11-slider .owl-dots button:not(:first-child) {
        margin-left: 3.333vw;
    }
    .gr-tg-mefo01.hide-pc h3:first-child a {
        padding-right: 5.867vw;
        background-size: 3.600vw;
    }
    .gr-tg-mefo01.hide-pc h3 a {
        font-size: 4.267vw;
    }
    .item_body:first-child {
        background-color: inherit;
    }
    .gr-tg-left-fix>ul {
        display: none;
    }
    .gr-tg-menuclick {
        left: -100%;
    }
    .wrap_body {
        flex-wrap: wrap;
    }
    .item_body:last-child, .gr-tg-top-head {
        width: 100%;
    }
    .gr-tg-top-ul01, .gr-tg-co-fo02 .boxs:first-child {
        padding-left: 4vw;
        padding-right: 4vw;
    }
    .gr-tg-top-ul01 a {
        font-size: 3.200vw;
    }
    span.gr-tg-icon {
        line-height: 100%;
        margin-top: -1px;
    }
    .gr-tg-top-ul01 li {
        height: 4.933vw;
    }
    .gr-tg-top-ul01 li:last-child a {
        font-size: 2.667vw;
    }
    .gr-tg-icon-wh01, .gr-tg-icon-wh02 {
        width: 5vw;
    }
    .gr-tg-icon-wh03 {
        width: 2.667vw;
    }
    .gr-tg-humbarger {
        width: 18.667vw;
        margin-bottom: 0;
        height: 10.667vw;
    }
    .gr-tg-humbarger a {
        line-height: 100%;
    }
    .gr-tg-logo {
        padding-right: 4vw;
    }
    .gr-tg-logo-wh {
        width: 43.067vw;
        height: 10.667vw;
    }
    #owl01 .owl-item.active.center, #owl01 .owl-item.active.center .slick-list, #owl01 .owl-item.active.center .slick-list .slick-track, #owl01 .owl-item.active.center .slick-list .slick-track .item-01 {
        max-width: 100%;
    }
    .gr-tg-gen-cr .gr-tg-flex {
        background-image: url(../img/icon-45.png);
        background-position: center;
        background-repeat: no-repeat;
        height: 20vw;
        padding-top: 2.667vw;
        padding-bottom: 2.667vw;
        flex-direction: column;
    }
    .item-gr-tggen-cr {
        width: 100%;
        text-align: center;
        font-size: 2.667vw;
        letter-spacing: 0;
    }
    .gr-tg-co-fo02 .gr-tg-flex, .gr-tg-co-fo01>div {
        flex-direction: column;
    }
    .gr-tg-co-fo02 .boxs, .item-gr-tg-co-fo01 {
        width: 100%;
    }
    .item-gr-tg-co-fo01:last-child {
        margin-top: 11.733vw;
    }
    .gr-tg-content-fo>div, .gr-tg-co-fo02>div {
        padding-left: 0;
        padding-right: 0;
    }
    .gr-tg-co-fo01 {
        padding-right: 4vw;
        padding-left: 4vw;
    }
    .gr-tg-btn {
        display: none;
    }
    .gr-tg-maps {
        max-width: 100%;
        height: 54.667vw;
    }
    .gr-tg-content-fo {
        padding-top: 12vw;
        padding-bottom: 19.200vw;
    }
    .gr-tg-icon-wh11 {
        width: 33.867vw;
        height: 6.400vw;
    }
    .item-gr-tg-co-fo01 h2 {
        max-width: 100%;
        font-size: 3.067vw;
        margin-bottom: 8.267vw;
        padding: 5.200vw 0 4.800vw 0;
    }
    .gr-tg-mefo01 a {
        font-size: 3.200vw;
    }
    .gr-tg-icon-wh07 {
        width: 17.067vw;
        height: 15.733vw;
    }
    .gr-tg-co-fo02 .boxs:last-child {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }
    .gr-tg-item-me03 a:not(:first-child) {
        padding-top: 3px;
    }
    .gr-tg-info {
        order: 0;
        margin-top: 0;
        margin-bottom: 27px;
    }
    .gr-tg-logofo {
        order: 2;
    }
    .gr-tg-maps {
        order: 3;
        margin-top: 16.3vw;
    }
    .gr-tg-co-fo02, .gr-tg-co-fo01 {
        max-width: 100%;
    }
    .gr-tg-co-fo02 {
        margin-top: 5.200vw;
    }
    .gr-tg-icon-whlogofo {
        display: none;
    }
    .gr-tg-icon-whlogofo.sp {
        display: block;
        width: 76vw;
        height: 21.467vw;
        margin: 0 auto;
    }
    .gr-tg-info p {
        font-size: 3.733vw;
    }
    .gr-tg-co-fo02 .boxs:last-child {
        margin-top: 11.733vw;
    }
    .gr-tg-mefo01 h3 {
        font-size: 3.733vw;
        height: 16vw;
        margin-top: 3.333vw;
    }
    .item-gr-tg-co-fo01 .gr-tg-flex .boxs:not(:first-child) {
        margin-left: 2vw;
    }
    .gr-tg-icon-wh08 {
        width: 16.533vw;
        height: 11.200vw;
    }
    .gr-tg-icon-wh10 {
        width: 18.267vw;
        height: 13.200vw;
    }
    .gr-tg-icon-wh09 {
        width: 22.667vw;
        height: 8.800vw;
    }
    .item-gr-tg-co-fo01:last-child .boxs {
        width: 33.33%;
    }
    .gr-tg-mh {
        min-height: 13.200vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }
    .gr-tg-desc-fo {
        font-size: 2.667vw;
        margin-top: 2.133vw;
        letter-spacing: -0.5px;
        text-align: center;
    }
    .gr-tg-mefo01 li:not(:first-child) {
        margin-top: 1.867vw;
        line-height: 91%;
    }
    .gr-tg-t12-01 {
        font-size: 4.267vw;
    }
    .gr-tg-t12-02 {
        font-size: 5.333vw;
        padding-right: 7.867vw;
        background-size: 4.659vw;
        margin-top: 5.067vw;
    }
    .gr-tg-top-12 {
        height: 52.933vw;
    }
    .gr-tg-scroll {
        height: 10.667vw;
    }
    section.gr-tg-top-01 {
        padding-top: 12.667vw;
    }
    #owl01.owl-carousel .owl-stage-outer {
        padding-top: 0;
        padding-bottom: 14.667vw;
    }
    .gr-tg-top-01 .owl-dots {
        bottom: 0;
    }
    #owl01 .owl-item.center .item-01 {
        height: 72vw !important;
    }
    #owl01 .owl-item.active.center, #owl01 .owl-item.active.center .slick-list, #owl01 .owl-item.active.center .slick-list .slick-track, #owl01 .owl-item.active.center .slick-list .slick-track .item-01 {
        max-width: 72vw !important;
    }
    .gr-tg-top-01 .owl-nav {
        top: calc(72vw / 2 - 17px);
    }
    #owl01.owl-carousel .owl-stage {
        padding-left: 9px;
    }
    .gr-tg-top-01 .owl-dots button:not(:first-child) {
        margin-left: 3.467vw;
    }
    .gr-tg-top-02 {
        margin-top: 20vw;
        padding-bottom: 9.067vw;
        position: relative;
        background-color: #F2F2F2;
    }
    .gr-tg-top-02::before {
        content: "";
        width: 100%;
        height: 7.333vw;
        position: absolute;
        left: 0;
        top: 0;
        border-bottom: 7.333vw solid transparent;
        border-left: 100vw solid #ffffff;
    }
    .gr-tg-top-02::after {
        content: "";
        width: 100%;
        height: 6vw;
        position: absolute;
        left: 0;
        bottom: 0;
        border-top: 6vw solid transparent;
        border-right: 100vw solid #ffffff;
    }
    .gr-tg-sub-title, .gr-tg-desc09 {
        margin-top: 6.133vw;
    }
    .gr-tg-notice {
        margin-top: 6vw;
    }
    .gr-tg-notice ul {
        padding-top: 3.733vw;
        padding-bottom: 2.667vw;
    }
    .gr-tg-notice li .item:nth-child(2) {
        padding: 4vw 0 0 0;
    }
    .gr-tg-list-notice {
        padding-top: 3.467vw;
    }
    .gr-tg-notice li .item:nth-child(2) a {
        line-height: 150%;
        padding: 0;
    }
    .gr-tg-sub-title, .gr-tg-desc09, .gr-tg-jp10, .gr-tg-t11-02 {
        font-size: 5.600vw;
        margin-top: 4.667vw;
    }
    .gr-tg-top-02>div {
        top: -2.267vw;
    }
    .gr-tg-notice li .item:first-child {
        width: 50%;
    }
    .gr-tg-notice li .item {
        font-size: 3.733vw;
    }
    .gr-tg-notice li .item:last-child a {
        font-size: 3.200vw;
        height: 6.267vw;
        border-radius: 60px;
    }
    .gr-tg-notice li .item:last-child {
        width: 23.733vw;
    }
    .gr-tg-hum {
        margin-bottom: 7.733vw;
    }
    .gr-tg-hum img {
        width: 16.267vw;
        height: 9.600vw;
    }
    .gr-tg-title03 {
        font-size: 5.600vw;
        letter-spacing: 1px;
    }
    section.gr-tg-top-03 {
        padding-top: 12.267vw;
    }
    .gr-tg-tab>ul>li a {
        font-size: 3.200vw;
        padding: 3.733vw 0;
    }
    .gr-tg-tab>ul {
        margin-top: 11.733vw;
    }
    .gr-tg-tab-gen ul {
        max-width: 590px;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .gr-tg-tab-gen ul li, .gr-tg-tab-gen ul.gird-3-item li {
        width: 50%;
        padding: 0 2vw;
        margin-bottom: 11.333vw;
    }
    .gr-tg-tab-gen ul.gird-3-item li:last-child {
        width: 100%;
    }
    .gr-tg-tab-gen ul li:not(:first-child) {
        margin-left: 0;
    }
    .gr-tg-desct03 {
        font-size: 3.733vw;
        height: auto;
        display: block;
        margin-top: 3.200vw;
    }
    .tab1-01 {
        width: 26.667vw;
        height: 21.333vw;
    }
    .tab1-02 {
        width: 23.067vw;
        height: 21.200vw;
    }
    .tab1-03 {
        width: 17.600vw;
        height: 20vw;
    }
    .tab1-04 {
        width: 26.400vw;
        height: 17.333vw;
    }
    .tab1-05 {
        width: 21.200vw;
        height: 21.200vw;
    }
    .tab1-06 {
        width: 21.200vw;
        height: 21.200vw;
    }
    .tab1-07 {
        width: 21.600vw;
        height: 13.333vw;
    }
    .tab1-08 {
        width: 26.667vw;
        height: 16.533vw;
    }
    .gr-tg-thum03 {
        height: 21.200vw;
    }
    .gr-tg-humbarger img {
        width: 5.067vw;
        height: 2.936vw;
    }
    .gr-tg-tab-gen {
        padding-top: 10.267vw;
    }
    section.gr-tg-top-03 {
        padding-bottom: 3px;
    }
    .tab2-01 {
        width: 30.667vw;
        height: 12vw;
    }
    .tab2-02 {
        width: 24.533vw;
        height: 11.067vw;
    }
    .tab2-03 {
        width: 22vw;
        height: 11.067vw;
    }
    .tab2-04 {
        width: 14.667vw;
        height: 9.333vw;
    }
    .tab2-05 {
        width: 20vw;
        height: 12vw;
    }
    .tab2-06 {
        width: 41.333vw;
        height: 12.933vw;
    }
    .tab2-07 {
        width: 23.200vw;
        height: 9.333vw;
    }
    .tab3-01 {
        width: 12.667vw;
        height: 13.333vw;
    }
    .tab3-02 {
        width: 16.667vw;
        height: 13.333vw;
    }
    .tab3-03 {
        width: 9.600vw;
        height: 13.333vw;
    }
    .tab3-04 {
        width: 11.333vw;
        height: 9.067vw;
    }
    .tab3-05 {
        width: 17.333vw;
        height: 13.333vw;
    }
    .tab3-06 {
        width: 13.333vw;
        height: 15.200vw;
    }
    .tab3-07 {
        width: 15.467vw;
        height: 11.333vw;
    }
    .tab3-08 {
        width: 23.067vw;
        height: 8.933vw;
    }
    .gr-tg-top-04 {
        padding-top: 22vw;
        padding-bottom: 24.933vw;
        background-color: #edc732;
        position: relative;
    }
    .gr-tg-top-04::before {
        content: "";
        width: 100%;
        height: 7.333vw;
        position: absolute;
        left: 0;
        top: 0;
        border-bottom: 7.333vw solid transparent;
        border-right: 100vw solid #ffffff;
    }
    .gr-tg-top-04::after {
        content: "";
        width: 100%;
        height: 6vw;
        position: absolute;
        left: 0;
        bottom: 0;
        border-top: 6vw solid transparent;
        border-left: 100vw solid #ffffff;
    }
    .w-icon-28 {
        width: 13.333vw;
        height: 14.667vw;
    }
    .gr-tg-title p, .gr-tg-tt09 p, .gr-tg-tt10 p {
        font-size: 3.733vw;
        letter-spacing: 0;
        text-align: left;
        line-height: 178%;
    }
    .gr-tg-tt10 p {
        text-align: justify;
    }
    .gr-tg-title p br, .gr-tg-tt09 p br, .gr-tg-tt10 p br {
        display: none;
    }
    .gr-tg-tt10 p {
        margin-top: 3vw;
    }
    .gr-tg-t04 ul {
        flex-direction: column;
        max-width: 64.667vw;
        margin: 0 auto;
    }
    .gr-tg-wt06-co1 p strong, .gr-tg-t06-co01>p {
        font-size: 3.200vw;
    }
    .gr-tg-t04 li {
        width: 100%;
        height: 64.667vw;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        padding-bottom: 9.600vw;
    }
    .gr-tg-txt04 {
        margin-top: 9.600vw;
    }
    .gr-tg-t04 li:not(:first-child) {
        margin-left: 0;
        margin-top: 11.467vw;
    }
    .gr-tg-txt04 {
        font-size: 4.267vw;
    }
    .w-icon-29 {
        width: 43.067vw;
        height: 21.467vw;
    }
    .w-icon-30 {
        width: 30vw;
        height: 18.667vw;
    }
    .w-icon-31 {
        width: 52.133vw;
        height: 26.400vw;
    }
    .gr-tg-t04 {
        padding-top: 10.667vw;
    }
    .w-icon-32 {
        width: 18.133vw;
        height: 14.667vw;
    }
    .gr-tg-top-05 {
        padding-top: 14.667vw;
    }
    .gr-tg-bg05 {
        margin: 0 auto;
        width: 28.267vw;
        height: 28.267vw;
    }
    .w-t05-01 {
        width: 22vw;
        height: 15.067vw;
    }
    .w-t05-02 {
        width: 16.667vw;
        height: 12.933vw;
    }
    .gr-tg-wrap05 ul li:not(:first-child) {
        margin-left: 8.800vw;
    }
    .gr-tg-tt05-01 {
        font-size: 3.733vw;
        margin-bottom: 4.267vw;
    }
    .gr-tg-wrap05 {
        margin-top: 6.667vw;
    }
    .gr-tg-wrap05 ul {
        margin-bottom: 6.667vw;
    }
    .gr-tg-top-06 {
        margin-top: 15.733vw;
        padding-top: 8.400vw;
    }
    .gr-tg-btn10 a {
        height: 21.333vw;
        font-size: 3.733vw;
        letter-spacing: 1px;
        max-width: 689px;
    }
    .gr-tg-btn10 a span {
        padding-right: 0;
        padding-bottom: 8.667vw;
        background-image: url(../img/icon-21.svg) !important;
        background-position: center bottom;
        background-size: 2.667vw;
    }
    .t07-1 {
        width: 16.400vw;
        height: 10.800vw;
    }
    .t07-2 {
        width: 10.800vw;
        height: 11.867vw;
    }
    .t07-3 {
        width: 11.867vw;
        height: 11.200vw;
    }
    .t07-4 {
        width: 11.467vw;
        height: 14.933vw;
    }
    .t07-5 {
        width: 8.533vw;
        height: 11.067vw;
    }
    .gr-tg-jp07 {
        line-height: 160%;
        font-size: 2.667vw;
        letter-spacing: 1px;
        margin-top: 1.200vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        height: 8.400vw;
    }
    .gr-tg-wt07 li, .gr-tg-wt07 ul.last li {
        padding: 2.667vw 2vw;
    }
    .last .minh126 {
        height: 11.200vw;
    }
    .minh126 {
        height: 14.933vw;
    }
    .gr-tg-wt07 li:not(:first-child) {
        margin-left: 2.667vw;
    }
    .gr-tg-wt07 ul.last {
        margin-top: 2.667vw;
    }
    .gr-tg-top-08 {
        padding-top: 29.333vw;
    }
    .gr-tg-wt07 {
        margin-top: 8vw;
    }
    .w-icon-22, .w-icon-25 {
        width: 18.267vw;
        height: 14.667vw;
    }
    .gr-tg-top-08 .gird-1000 {
        padding-right: 3.333vw;
        padding-bottom: 3.333vw;
    }
    .gr-tg-top-08>div::before {
        width: 3.333vw;
    }
    .gr-tg-top-08>div::after {
        height: 3.333vw;
    }
    .gr-tg-top-08 .gr-tg-wrap-t08 {
        padding: 6.933vw 4vw;
    }
    .gr-tg-top-08 .gr-tg-tt09 p {
        margin-top: 6.933vw;
    }
    .gr-tg-subt08-1 {
        margin: 4vw auto 0 auto;
        max-width: 60vw;
    }
    .gr-tg-subt08-1>div {
        font-size: 3.733vw;
    }
    .gr-tg-subt08-1>div:not(:first-child)::before {
        height: 19.200vw;
    }
    .gr-tg-subt08-1>div:not(:first-child) {
        padding-left: 4vw;
        margin-left: 4vw;
    }
    .w-icon-23, .w-icon-24 {
        width: 8vw;
        height: 8vw;
    }
    .gr-tg-subt08-2 .boxs {
        font-size: 3.733vw;
        letter-spacing: 0;
    }
    .gr-tg-subt08-2 .boxs:not(:first-child) {
        margin-left: 9.600vw;
    }
    .gr-tg-subt08-2 {
        margin-top: 4.667vw;
    }
    .gr-tg-subt08-3 {
        margin-top: 4.267vw;
        max-width: 600px;
        flex-direction: column;
    }
    .gr-tg-top-08 .gr-tg-wrap-t08 .gr-tg-tt09 {
        padding-left: 4vw;
        padding-right: 4vw;
    }
    .item-calendar {
        width: 100%;
        height: 336px;
    }
    .item-calendar:not(:first-child) {
        margin-left: 0;
        margin-top: 20px;
    }
    .gr-tg-top-09 {
        padding-top: 17.200vw;
        padding-bottom: 13.7vw;
    }
    .w-icon-20 {
        width: 13.867vw;
        height: 14.667vw;
    }
    .gr-tg-top-09 .gr-tg-desc10 ul, .gr-tg-desc10 ul {
        flex-direction: column;
        max-width: 48vw;
        margin: 0 auto;
    }
    .gr-tg-desc10 li {
        width: 100%;
        background-size: cover;
    }
    .gr-tg-desc10 li:not(:first-child) {
        margin-left: 0;
        margin-top: 8.400vw;
    }
    .gr-tg-top-09 ul .item, .gr-tg-top-10 .gr-tg-desc10 li {
        height: 48vw;
    }
    .gr-tg-desc10 li p {
        color: #333333;
        padding-bottom: 3.9vw;
        font-size: 3.733vw;
    }
    .gr-tg-desc10 {
        padding-top: 5.067vw;
    }
    .gr-tg-btn10 {
        margin-top: 11.067vw;
    }
    .gr-tg-top-10 {
        background-color: #003385;
        position: relative;
    }
    .gr-tg-top-10::before {
        content: "";
        width: 100%;
        height: 7.333vw;
        position: absolute;
        left: 0;
        top: 0;
        border-bottom: 7.333vw solid transparent;
        border-right: 100vw solid #ffffff;
    }
    .gr-tg-top-10::after {
        content: "";
        width: 100%;
        height: 6vw;
        position: absolute;
        left: 0;
        bottom: 0;
        border-top: 6vw solid transparent;
        border-left: 100vw solid #ffffff;
    }
    .gr-tg-top-10 {
        padding-top: 11.200vw;
        padding-bottom: 14vw;
        margin-bottom: 19.333vw;
    }
    .gr-tg-top-10 .gird-1000 {
        padding-top: 7.333vw;
        padding-bottom: 7.333vw;
        padding-left: 6.933vw;
        padding-right: 6.933vw;
    }
    .gr-tg-top-10 .gr-tg-btn10 {
        margin-top: 6.933vw;
    }
    .gr-tg-top-10 .gr-tg-btn10 a span {
        background-image: url(../img/icon-19.svg) !important;
    }
    .w-icon-18 {
        width: 23.6vw;
        height: 14.667vw;
    }
    .w-icon-15 {
        width: 12vw;
        height: 12vw;
    }
    .gr-tg-top-11 {
        padding-bottom: 9.200vw;
        padding-top: 10.933vw;
    }
    .gr-tg-maps-blank {
        max-width: 60vw;
        height: 13.333vw;
        bottom: calc(-13.333vw / 2);
    }
    .gr-tg-item-me03:not(:first-child) {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
    }
    .gr-tg-t11-slider .owl-dots button, .gr-tg-t06row .owl-dots button {
        width: 2.667vw;
        height: 2.667vw;
        padding: 0;
        border-width: 1px;
        outline: none;
        resize: none;
    }
    .gr-tg-top-07 {
        margin-top: 13.600vw;
    }

    .gr-tg-scroll img{display: none;}
    .gr-tg-scroll {
        background-image: url(../img/icon-58.svg);
        background-position: center;
        background-size: 8.800vw;
        background-repeat: no-repeat;
    }
}

/* end 750 */

@media screen and (max-width:480px) {
    section.gr-tg-top-01{padding-top: 0;}
    .gr-tg-item-me03:last-child a {
        height: 17.40vw;
    }
    .gr-tg-t11-slider .item {
        height: 56.458vw;
    }
    .gr-tg-subt08-3 {
        padding-left: 0;
        padding-right: 0;
    }
    .gr-tg-top-11>div, .gr-tg-t06row {
        padding-left: 10px;
        padding-right: 10px;
    }
    .gr-tg-top-ul01 a {
        font-size: 14px;
    }
    .gr-tg-top-ul01 {
        padding: 10px;
        padding-top: 12px;
    }
    .gr-tg-top-ul01 li:last-child a {
        font-size: 12px;
        letter-spacing: -0.5px;
    }
    .gr-tg-top-ul01 li:first-child {
        width: 25%;
    }
    .gr-tg-top-ul01 li:last-child {
        width: 41.67%;
    }
    .gird-1000, .gird-1044, .gird-1140, .gr-tg-top-02, .gr-tg-top-08, .gr-tg-top-10 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .gr-tg-sub-title, .gr-tg-desc09 {
        font-size: 20px;
    }
    .gr-tg-hum {
        margin-bottom: 15px;
    }
    .gr-tg-tab>ul>li.active a span {
        padding: 5px 6px;
        background-size: 6px;
    }
    .gr-tg-humbarger img {
        width: 24px;
        height: 20px;
    }
    .gr-tg-t04 li:not(:first-child) {
        margin-top: 35px;
    }
    .gr-tg-t04 {
        padding-top: 25px;
    }
    .gr-tg-top-08 {
        padding-top: 50px;
    }
    .w-icon-20 {
        width: 60px;
        height: 60px;
    }
    .gr-tg-desc10 li p {
        font-size: 16px;
    }
    /* .gr-tg-top-09 ul .item, .gr-tg-top-10 .gr-tg-desc10 li {
        height: 280px;
    } */
    .gr-tg-scroll {
        height: 50px;
    }
    .gr-tg-top-10 .gird-1000 {
        border: 4px solid #EDC732;
        padding: 15px;
    }
    .gr-tg-mefo01 h3 {
        font-size: 14px;
    }
    .gr-tg-mefo01.hide-pc h3 a {
        font-size: 16px;
    }
    .gr-tg-wt06-co1 p strong, .gr-tg-t06-co01>p {
        font-size: 16px;
    }
}