@charset "utf-8";

.div_breadcrumb{
    width: 100%;
    background-color: #FFF5F5;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 37px;
    padding: 2px 30px;
    margin-bottom: 42px;
}

.div_breadcrumb ul{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.div_breadcrumb ul li{
    font-size: 12px;
    line-height: 100%;
    color: #333333;
    position: relative;
}

.div_breadcrumb ul li a:hover{
    text-decoration: underline;
}

.div_breadcrumb ul li:not(:last-child):after{
    content: '';
    width: 5.5px;
    height: 9px;
    margin-left: 8px;
    margin-right: 8px;
    display: inline-block;
    background-image: url(../img/bread_arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.div_lec01{
    text-align: center;
}

.div_lec01 .title{
    font-size: 24px;
    font-weight: bold;
    line-height: 160%;
    color: #C1272D;
    margin-top: 20px;
}

.div_lec01 .txt{
    margin-top: 18px;
    font-size: 16px;
    line-height: 187%;
    color: #333333;
}

.div_lec02{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-wrap: wrap;
    margin-top: 40px;
}

.div_lec02 .div_content{
    width: 21.3%;
    text-align: center;
}

.div_lec02 .div_content .title{
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    width: 100%;
    margin-bottom: 23px;
}

.div_lec02 .div_content .img{
    width: 100%;
    height: 82px;
    display: flex;
    justify-content:center;
    align-items:flex-end;
}

.div_lec02 .div_content .list_item{
    width: 100%;
    margin-top: 20px;
    min-height: 88px;
    margin-bottom: 18px;
}

.div_lec02 .div_content .list_item ul li{
    font-size: 12px;
    line-height: 184%;
    color: #333333;
}

.div_lec02 .div_content .list_item ul.ul_50{
    display: flex;
    justify-content:space-between;
    align-items:flex-start;
    flex-wrap: wrap;
    max-width: 160px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.div_lec02 .div_content .list_item ul.ul_50 li{
    width: 40.725%;
    text-align: left;
    letter-spacing:1px;
}

a.a_btn01{
    font-size: 14px;
    letter-spacing:1px;
    line-height: 160%;
    color: #C1272D;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C1272D;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    height: 48px;
    margin-top: 10px;
}

a.a_btn01.icon01{
    position: relative;
}

a.a_btn01.icon01::after{
    content: "";
    width: 14px;
    height: 18px;
    background-image: url(../img/btn_icon01.svg);
    background-size: contain;
    background-position: center center;
    margin-left: 6px;
}

a.a_btn01:hover{
    opacity: 0.8;
}

#lic_sec02{
    padding-top: 90px;
}

#lic_sec02 .title_style01{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 166%;
    color: #C1272D;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}

#lic_sec02 .txt_out{
    font-size: 16px;
    line-height: 156%;
    color: #333333;
    text-align: center;
}

.all_item01{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 75px;
    margin-bottom: 95px;
} 

.all_item01 .item{
    width: 30%;
    border: 1px solid rgba(51, 51, 51, 0.5);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 20px;
    margin-right: 6px;
    position: relative;
    padding-top: 40px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

.all_item01 .item .img{
    padding-right: 10px;
}

.all_item01 .item .icon_tag{
    position:absolute;
    top: -15px;
    left: -20px;
}

.all_item01 .item .icon_tag .icon_add{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 12px;
}

.all_item01 .item .icon_tag .icon_add.icon_red{
    background-color: #C1272D;
}

.all_item01 .item .icon_tag .icon_add.icon_blue{
    background-color: #003385;
}

.all_item01 .item .icon_tag .icon_add span{
    line-height: 100%;
    font-size: 14px;
    font-weight: bold;
    letter-spacing:1px;
    color: #fff;
}

.all_item01 .item .div_item01{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    padding-left: 35px;
}

.all_item01 .item .div_item01 .text{
    padding-top: 6px;
}

.all_item01 .item .div_item01 .text .title{
    font-size: 18px;
    font-weight: bold;
    letter-spacing:1px;
    line-height: 140%;
    white-space: nowrap;
    color: #333333;
}

.all_item01 .item .div_item01 .text .txt{
    font-size: 14px;
    line-height: 236%;
    color: #333333;
}

.all_item01 .item .div_item02{
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.all_item01 .item .div_item02 .txt{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 150%;
    letter-spacing:1px;
    color: #333333;
    padding-top: 12px;
    /* padding-bottom: 10px; */
}

.all_item01 .item .div_item02 .txt .add_txt{
    display: block;
    font-weight: normal;
}

.all_item01 .item .div_item02 .txt .txt_plus{
    display: block;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

.all_item01 .item .div_item03{
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 13px;
}

.all_item01 .item .div_item03 .txt01{
    font-size: 30px;
    font-weight: bold;
    letter-spacing:0.13px;
    line-height: 110%;
    text-align: center;
}

.all_item01 .item .div_item03 .txt01 .sp_01, .all_item01 .item .div_item03 .txt01 .sp_02{
    font-size: 14px;
    line-height: 180%;
    font-weight: bold;
    letter-spacing:1px;
    color: #333333;
}

.all_item01 .item .div_item03 .spanall{
    display: inline-block;
    min-width: 170px;
    margin-left: auto;
    margin-right: auto;
}

.all_item01 .item .div_item03 .txt01 .sp_01{
    margin-right: 14px;
}

.all_item01 .item .div_item03 .txt01 .sp_02{
    margin-right: 10px;
}

.all_item01 .item .div_item03 .txt01 .price{
    color: #C1272D;
}

.all_item01 .item .div_item03 .txt01 .txt02{
    font-size: 14px;
    letter-spacing:0.5px;
    line-height: 235%;
    color: #333333;
    text-align: right;
    font-weight: normal;
}

.all_item01 .item .div_item03 .txt01 .txt02 .sp_01{
    font-size: 10px;
    line-height: 320%;
    letter-spacing:0.1px;
    margin-right: 10px;
    color: #333333;
    font-weight: normal;
}

.all_item01 .item .div_item03 .txt01 .txt02 .price{
    color: #333333;
}

.ft_page_all{
    display: flex;
    justify-content:space-between;
    align-items:stretch;
    flex-wrap: wrap;
}

.ft_page_all .div_left{
    width: 48%;
}

.ft_page_all .div_left .title{
    font-size: 30px;
    font-weight: bold;
    color:#C1272D;
    letter-spacing:1px;
    line-height: 110%;
    margin-top: 20px;
}

.ft_page_all .div_left .txt{
    margin-top: 80px;
}

.ft_page_all .div_left .txt ul li{
    position: relative;
    z-index: 1;
    font-size: 18px;
    letter-spacing:1px;
    line-height: 170%;
    color: #333333;
    padding-left: 20px;
}
.ft_page_all .div_left .txt ul li:before{
    content: "●";
    position: absolute;
    top: 0;
    left: 2px;
    z-index: 1;
}

.ft_page_all .div_right{
    width: 52%;
    display: flex;
    justify-content:space-between;
    align-items:stretch;
    flex-wrap: wrap;
}

.ft_page_all .div_right .btn_all{
    width: 47.884%;
    background-color: #C1272D;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
}

.ft_page_all .div_right .btn_all:hover{
    opacity: 0.8;
}

.ft_page_all .div_right .btn_all .div_df{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
}

.ft_page_all .div_right .btn_all .div_df span{
    font-size: 18px;
    letter-spacing:1px;
    line-height:166%;
    font-weight: bold;
    color: #fff;
    margin-top: 30px;
}