@charset "utf-8";

.ttStyle01{
    position: relative;
    z-index: 1;
    display: inline-block;
}
span.ttFull{
    height: 65px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url("../img/tt01.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 65px;
}
.ttCommon .gird-1000{
    position: relative;
    z-index: 1;
}
.ttCommon .gird-1000::before{
    content: '';
    background-color: #F2F2F2;
    height: 63px;
    width: 100%;
    position: absolute;
    left: -100%;
    z-index: 1;
    top: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}
span.ttTxt{
    font-size: 30px;
    font-weight: bold;
    color: #C1272D;
    letter-spacing: 1px;
    line-height: 166%;
    padding-left: 12px;
}
.pRows{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.pLeft{
    width: 47.2%;
    border-right: 1px solid #C1272D;
    padding-left: 45px;
    padding-right: 45px;
    position: relative;
    z-index: 1;
}
.pRight{
    width: 52.8%;
    padding-left: 50px;
    padding-right: 48px;
    position: relative;
    z-index: 1;
}
.imgSp{
    display: none;
}
.pLeft h3{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 140%;
    color: #C1272D;
    margin-top: 25px;
}
.pLIntro{
    font-size: 16px;
    color: #333333;
    line-height: 187%;
    padding-top: 12px;
}
span.pLIcon{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    width: 50px;
    height: 50px;
    background-color: #C1272D;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 45px;
    z-index: 1;
    padding-top: 3px;
}
.pageIntro{
    padding-top: 45px;
}
.tbBorder{
    border: 1px dashed #707070;
    border-radius: 17px;
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    max-width: 429px;
}
.tbBorder ul{
    font-size: 0;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    max-width: 350px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.tbBorder ul li{
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    color: #333333;
    letter-spacing: 1px;
    line-height: 140%;
}
table.tbPrice{
    width: 100%;
}
table.tbPrice tr td{
    vertical-align: top;
    font-size: 20px;
    color: #333333;
    letter-spacing: 0.5px;
    line-height: 165%;
}
table.tbPrice tr td:first-child{
    width: 198px;
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
}
span.tbP{
    font-size: 40px;
    color: #C1272D;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 120%;
    display: block;
    text-align: right;
}
table.tbPrice tr td:last-child{
    text-align: right;
    padding-bottom: 22px;
}
.pageList h3{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 208%;
    color: #C1272D;
}
.pageList{
    padding-top: 120px;
}
.pageList ul{
    text-align: center;
    font-size: 0;
    margin-top: 10px;
}
.pageList ul li{
    width: 248px;
    height: 248px;
    text-align: center;
    background-color: #FFF5F5;
    border-radius: 45px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}
.pageList ul li span.pListImg{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    height: 175px;
}
span.pListTxt{
    font-size: 14px;
    line-height: 178%;
    color: #333333;
    letter-spacing: 0;
}
span.pListTxt strong{
    font-size: 16px;
}
span.pListIntro{
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 166%;
    padding-top: 20px;
}
.ttCommon02{
    position: relative;
    z-index: 1;
}
.ttCommon02 .gird-1000{
    position: relative;
    z-index: 1;
}
.ttCommon02 .gird-1000::before{
    content: '';
    background-color: #F2F2F2;
    height: 65px;
    width: 100%;
    position: absolute;
    left: -100%;
    z-index: 1;
    top: 0;
}
.ttStyle02{
    display: inline-block;
    position: relative;
    z-index: 1;

}
.ttStyle02 span{
    height: 65px;
    background-color: #F2F2F2;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 30px;
    font-weight: bold;
    color: #C1272D;
    letter-spacing: 1px;
    line-height: 166%;
    padding-top: 3px;
    padding-right: 80px;
    position: relative;
    z-index: 1;
}
.ttStyle02 span::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 32.5px 20px 32.5px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    content: '';
}
.pageContent02{
    margin-top: 100px;
}
.grid-900{
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.pIRows{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 55px;
}
.pIItem01{
    width: 50%;
    margin-right: 2.222%;
    margin-bottom: 72px;
}
.pIItem01:nth-child(2n){
    width: 47.778%;
    margin-right: 0;
}
.pIItem01 h3{
    font-size: 24px;
    font-weight: bold;
    color: #C1272D;
    line-height: 140%;
}
.pI01Txt{
    padding-left: 60px;
    font-size: 18px;
    color: #333333;
    line-height: 166%;
    padding-top: 15px;
}
span.txtRed{
    color: #C1272D;
}
table.pItem01{
    width: 100%;
}
table.pItem01 tr td{
    vertical-align: top;
    font-size: 18px;
    color: #333333;
    line-height: 166%;
}
table.pItem01 tr td:first-child{
    width: 60px;
    font-weight: bold;
}
table.pItem01 tr td:last-child{
    padding-right: 40px;
}
table.pItem01.tbCt tr td:first-child{
    width: 90px;
}
.pIFull{
    margin-top: 55px;
}
.pITxt{
    font-size: 18px;
    line-height: 166%;
    color: #333333;
    padding-left: 60px;
    margin-bottom: 38px;
    padding-right: 50px;
}
.pageItem:last-child{
    margin-bottom: 150px;
}